* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    height: 600px;
    width: 700px;
    background-color: rgba(169, 224, 0, 1);
    border-style: dashed;
}

#grid div {
    border: 1px solid rbga(169,224,0,);
    display:  inline-block;
    
}


.snake {
    background: black;
}

.apple {
    background-image:url('/assets/food.png');
    background-repeat: no-repeat;
    background-size: 60%;
}

/*I would of loved to use the snake code below but it just wasnt cooperating

/* .snake_head-up {
    background-image: url('.snake_head-up');
    background-repeat:no-repeat;
    background-size:contain;
}

.snake_head_down{
    background-image: url('.snake_head_down');
    background-repeat: no-repeat;
    background-size: contain;
}

.snake_head_left {
    background-image: url('.snake_head_left');
    background-repeat: no-repeat;
    background-size: contain;
}

.snake_head_right {
    background-image: url('.snake_head_right');
    background-repeat: no-repeat;
    background-size: contain;
}

.snake_body {
    background-image: url('.snake_body');
    background-repeat: no-repeat;
    background-size: contain;
}